#menu ul {
	padding:0px;
	margin:0px;
	background-color:#36343c;
	list-style:none;
    font-size: 15px;
}

#menu ul li { 
    display: inline; 
}

#menu ul li a {
	padding: 3px 109px;
	display: inline-block;
 
	/* visual do link */
	color: #ffffff;
	text-decoration: none;
    font-family: FontAwesome; 

}

#menu ul li a spam {
    font-family: Rajdhani;
  
}




/*.topnavbar {
    background-color: #36343c;
    color: #ffffff;
    width: 100%;
    height: 78px;
    padding: 0;
    letter-spacing: 0;
    display: table;
}
.clear { clear: both; }
.topnavbar-left {
    float: left; width: 40%;
}
.topnavbar-center {
    margin-left: 20%;
}
.topnavbar-right {
    margin-left: 40%;
}
.botao-topnavbar-left {
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 24px;
}
.botao-topnavbar-right {
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 24px;
}
a:link 
{ 
 text-decoration:none;
 
}
.topnavbar span{
    font-family: 'Rajdhani', sans-serif;
    
    
}
.topnavbar-center img {
    float: inherit;
   position: fixed;
    left: 50%;
    top: 8px;
}


li{
    position: relative;
    list-style: none;
    display: inline;
    float: none;
    margin: 38px;
    top: 8px;
}
.gradiente-top {
    background: url(images/borda-slide-top.png);
}
.gradiente-botton{
    background: url(images/borda-slide-botton.png);
}

.slide {
    background: url(images/slide.png);
} */